a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
}
@media screen and (max-width: 479px) {
  .container {
    width: 288px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  width: 32px;
  height: 33px;
  display: block;
  margin-right: 12px;
}

.logo__icon {
  fill: #161616;
}

.header-logo__text {
  padding-left: 11px;
  color: #161616;
  border-left: 1px solid #161616;
  margin-right: auto;
}

body {
  position: relative;
}

.section {
  padding: 0 16px;
}

.secondary-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */
  text-transform: uppercase;
  /* ddd */
  color: #161616;
  margin-bottom: 17px;
}

.mobile-menu__content {
  padding-left: 20px;
  padding-top: 23.5px;
  padding-right: 16px;
  position: relative;
}

.mobile-menu__menu-btn {
  border: none;
  background-color: #fff;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1;
  z-index: 999;
  border-left: 16px solid #ffffff;
}
.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu__close-btn {
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: inherit;
  border: none;
  position: absolute;
  top: 20.69px;
  right: 16px;
  width: 22px;
  height: 22px;
}

.icon-menu {
  fill: #161616;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 63px;
}
.lang__item:not(:last-child) {
  margin-right: 10px;
}
.lang__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  /* identical to box height */
  text-transform: uppercase;
}

.nav__link {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  font-variant: small-caps;
  color: #FFFFFF;
}

.nav__item:not(:last-child) {
  margin-bottom: 22.5px;
}

.action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.action__link {
  color: #fff;
}
.action__link:hover, .action__link:active, .action__link:focus {
  color: #006B94;
}

.action__icon:active,
.action__icon:focus {
  fill: currentColor;
}

.dropdown__item {
  border-bottom: 0.5px solid #161616;
}
.dropdown__item:not(:last-child) {
  border-top: 1px solid #161616;
}

.dropdown__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .dropdown {
    margin-top: 60px;
  }
}
@media screen and (min-width: 320px) and (min-width: 320px) {
  .dropdown__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (min-width: 320px) {
  .dropdown__content {
    width: 208px;
    padding-top: 14px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #161616;
  }
}

.dropdown__btn {
  background-color: #fff;
  border: none;
  margin-left: 60px;
}

.dropdown__list {
  margin-top: 30.25px;
}

.hero__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-transform: uppercase;
  color: #161616;
  padding-top: 28px;
  border-top: 1px solid #161616;
}

.features__item:not(:last-child) {
  margin-bottom: 20px;
}

.features {
  margin-top: 17px;
}

@media screen and (min-width: 320px) {
  .earn {
    margin-top: 60px;
  }
}
@media screen and (min-width: 320px) {
  .earn__titel {
    color: #161616;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 320px) {
  .earn__button {
    margin-top: 30px;
    width: 288px;
    height: 60px;
    text-align: center;
    background-color: #fff;
    border: transparent;
    border: 1px solid #161616;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 320px) {
  .earn__text {
    margin-top: 17px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: #161616;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 320px) {
  .catalog {
    margin-top: 42px;
  }
}
.catalog__titel {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  color: #161616;
  text-transform: uppercase;
}
.catalog__list {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.catalog__link {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  color: #161616;
  text-transform: uppercase;
}
.catalog__downlaold {
  width: 288px;
  height: 60px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #161616;
}
@media screen and (min-width: 320px) {
  .catalog__button {
    margin-top: 30px;
    width: 288px;
    height: 60px;
    border: 1px solid #161616;
    background-color: #fff;
  }
}
.catalog__downlaold--text {
  margin-top: 30px;
  padding-top: 21.5px;
  padding-bottom: 24.5px;
  border: 1px solid #161616;
}

.models {
  margin-top: 20px;
}
.models__titel {
  margin-bottom: 17px;
  padding-top: 17px;
  border-top: 1px solid #161616;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  color: #161616;
  text-transform: uppercase;
}
.models__text {
  margin-top: 17px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #161616;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */