.addition {
  margin-top: 60px;
  margin-right: 0;
  margin-left: 0;
  &__title{
    font-weight: 600;
      font-size: 30px;
      line-height: 1.2;
      text-transform: uppercase;
      color: $common-color;
  }
  &__subtitle{
    width: 165px;
    margin-top: 17.28px;

    font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      // text-transform: lowercase;
  }
}
.addition-socials{
  margin-top: 17.28px;
  display: flex;
  gap: 17px;
  &__item{
    width: 32px;
    height: 32px;
  }
}