.mobile-menu__content{
    padding-left: 20px;
    padding-top: 23.5px;
    padding-right: 16px;

    // position: relative;

    
}

.mobile-menu__menu-btn{
    
    border: none;
    background-color: #fff;
}


.mobile-menu{
    padding: 23.5px;
    position: fixed;
    overflow-y: hidden;
        display: flex;
            flex-direction: column;
            justify-content: space-between;
    // border-left: 16px solid rgb(230, 45, 45);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    z-index: 999;
    border-left: 16px solid #ffffff;    
    &.is-hidden{
        opacity: 0;
        pointer-events: none;
    }
}

.mobile-menu__close-btn{
    padding: 0;
    margin: 0;
    position: absolute;
    
    background-color: inherit;
    border: none;
    position: absolute;
    top: 20.69px;
    right: 16px;
    
    width: 22px;
    height: 22px;
}

.icon-menu{
    fill: $common-color;
}

.lang{
    display: flex;
    margin-bottom: 63px;
    
    &__item:not(:last-child){
        margin-right: 10px;
    }
    &__link{
        color: #ffffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        /* identical to box height */
    
        text-transform: uppercase
    }
}
.nav__link{
    font-weight: 400;
        font-size: 30px;
        line-height: 1;
        font-variant: small-caps;
    
        color: #FFFFFF;
}
.nav__item:not(:last-child){
    margin-bottom: 22.5px;
}
.action__list{
    display: flex;
    justify-content: space-between;
}
.action__link{
    display: flex;
    align-items: flex-end;
    color: #fff;
    &:hover,
    &:active,
    &:focus{
        color: $accent-color;
    }
}
.action__icon-svg{
    margin-right: 10px;
}
.action__icon:active,
.action__icon:focus{
    fill:  currentColor;
}

.contacts-nav__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}