.secondary-title{
  font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    /* identical to box height */
  
    text-transform: uppercase;
  
    /* ddd */
  
    color: $common-color;

    margin-bottom: 17px;
}